<div class="form-container">
  <h2>{{ isEditMode ? 'Editar Pivot' : 'Novo Pivot' }}</h2>

  <form [formGroup]="pivotForm" (ngSubmit)="onSubmit()" class="form-fields">

    <div class="form-group">
      <label for="name">Nome</label>
      <input id="name" type="text" formControlName="name" required>
      <div *ngIf="pivotForm?.invalid && (pivotForm?.dirty || pivotForm?.touched)" class="error">
        <div *ngIf="pivotForm?.errors?.['required']">Nome é obrigatório.</div>
        <div *ngIf="pivotForm?.errors?.['min']">O nome deve ser no mínimo 3 caracteres.</div>
      </div>
    </div>

    <div class="form-actions">
      <button type="submit" class="btn btn-primary" [disabled]="pivotForm.invalid">
        {{ isEditMode ? 'Atualizar' : 'Salvar' }}
      </button>
      <button type="button" class="btn btn-secondary" (click)="cancelar()">Cancelar</button>
    </div>

  </form>
</div>
