mat-card {
  max-width: 800px;
  margin: 20px auto;
}

.dashboard-container {
  height: 100vh;
}

.sidenav {
  background: #2196f3;
  color: white;
  width: 220px;
  padding-top: 20px;
}

.avatar {
  width: 100px;
  border-radius: 50%;
  margin: 10px auto;
  display: block;
}

.profile {
  text-align: center;
  padding: 10px;
}

.main {
  padding: 20px;
}

.buttons {
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

canvas {
  max-width: 100%;
}

/* MEDIA QUERIES PARA CELULARES */
@media (max-width: 768px) {
  .sidenav {
    width: 100%;
  }

  .buttons {
    justify-content: center;
  }

  .main {
    padding: 10px;
  }
}


.selector-box {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selector-box label {
  margin-bottom: 8px;
  font-size: 1.1em;
  color: #333;
}

.sensor-selector {
  padding: 10px;
  font-size: 1em;
  border-radius: 5px;
  border: 1px solid #ddd;
  min-width: 250px;
}
